body {
  background: #eee;
}

body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
}

.chat__container {
  height: 100%;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  padding: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #795548;
  padding-top: 110px;
}

.currentUser__container {
  position: absolute;
  background-color: #3e2a23;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90px;
  padding: 8px;
}

.channels__list {
  min-height: 100px;
  max-height: 300px !important;
  overflow-y: auto !important;
}

.channels__container ul {
  margin: 0;
  padding: 0px;
}

.channels__item {
  height: 30px;
  margin: 8px;
  list-style: none;
  background-color: #ca67ff;
  cursor: pointer;
  line-height: 30px;
  border-radius: 2px;
  padding-left: 12px;
  font-weight: bold;
  font-size: 1.1em;
}

.channel__count {
  float: right;
}

.is_active {
  background-color: #9740c5;
}

.channels__item:hover {
  background-color: #9740c5;
}

.add_channel {
  cursor: pointer;
  color: #8bc34a;
}

.add_chanel:hpver {
  color: #689f38;
}

.messages__container {
  position: relative;
  background-color: #2a2a2e;
  padding: 10px 30px 210px 30px;
  margin-left: 300px;
  min-height: 100%;
}

.messages__container .comments {
  font-size: 1.2rem;
}

#app {
  height: 100vh;
}

.messages__form {
  position: fixed;
  bottom: 0;
  background-color: #232323;
  padding: 10px;
  padding-top: 20px;
  height: 210px;
  left: 300px;
  right: 0;
}

.messages__form.big {
  height: 350px;
}

.shortcut {
  color: white;
}

p {
  color: black;
}
