body > div,
body > div > div,
body > div > div > div.login-form,
html {
  height: 100%;
  background: #eee;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  padding: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #795548;
  padding-top: 110px;
}

.currentUser__container {
  position: absolute;
  background-color: #3e2a23;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90px;
  padding: 8px;
}

.channels__list {
  min-height: 100px;
  max-height: 300px !important;
  overflow-y: auto !important;
}

.active {
  background-color: #9740c5;
}

.channels__item:hover {
  background-color: #9740c5;
}

.messages__form {
  margin: 0 auto;
  background: black;
}

.comment__container pre {
  font-size: 0.9rem;
  background: #232323;
  box-shadow: 3px 6px 9px 0px #a2a2a2;
}

.comment__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.comment__date {
  color: #767676;
}

.users__container .feed:hover,
.users__container .feed.is_active {
  background: #654439;
}
